
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: AktivGrotesk,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.65em;
}

ol, ul {
	list-style: none;
}


#mkt-header {
    text-align: center;
}
#flow {
    background: #4a4b4b;
}
    #flow > h1 a {
    letter-spacing: 0.025em;
    border: 0;
    color: rgba(255,255,255,0.7);
    font-size: 0.875em;
    line-height: 2.85714285em;
    }
#nav {
    cursor: default;
    padding: 0;
}

    #nav:after {
        content: '';
        display: block;
        width: 100%;
        height: 0.75em;
        background-color: #4acbd6;
    }

    #nav > ul {
        margin: 0;
    }

        #nav > ul > li {
            position: relative;
            display: inline-block;
            margin-left: 1em;
            text-transform: uppercase;
            line-height: 1em;
        }

            #nav > ul > li a {
                text-decoration: none;
                border: 0;
                display: block;
                padding: 1.2em 0.5em 1em 0.5em;
                font-size: 1em;
                font-weight: 700;
                letter-spacing: 0.025em;
            }

            #nav > ul > li:first-child {
                margin-left: 0;
            }

            #nav > ul > li:hover a {
                color: #4acbd6;
            }

            #nav > ul > li.current {
                font-weight: 700;
            }

                #nav > ul > li.current:before {
                    -moz-transform: rotateZ(45deg);
                    -webkit-transform: rotateZ(45deg);
                    -ms-transform: rotateZ(45deg);
                    transform: rotateZ(45deg);
                    width: 0.75em;
                    height: 0.75em;
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -0.5em;
                    left: 50%;
                    margin-left: -0.375em;
                    background-color: #4acbd6;
                    background-image: url("images/bg01.png");
                }

                #nav > ul > li.current a {
                    color: #fff;
                }

            #nav > ul > li.active a {
                color: #fff;
            }

            #nav > ul > li.active.current:before {
                opacity: 0;
            }

            #nav > ul > li > ul {
                display: none;
            }
.tp-btn {
    background: #4ACBD6;
}
.tp-btn:hover {
    background: #4DDCE9;
}
