
/*
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: AktivGrotesk,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.65em;
}

ol, ul {
	list-style: none;
}


#mkt-header {
    text-align: center;
}
#flow {
    background: #4a4b4b;
}
    #flow > h1 a {
    letter-spacing: 0.025em;
    border: 0;
    color: rgba(255,255,255,0.7);
    font-size: 0.875em;
    line-height: 2.85714285em;
    }
#nav {
    cursor: default;
    padding: 0;
}

    #nav:after {
        content: '';
        display: block;
        width: 100%;
        height: 0.75em;
        background-color: #4acbd6;
    }

    #nav > ul {
        margin: 0;
    }

        #nav > ul > li {
            position: relative;
            display: inline-block;
            margin-left: 1em;
            text-transform: uppercase;
            line-height: 1em;
        }

            #nav > ul > li > a {
                text-decoration: none;
                border: 0;
                display: block;
                padding: 1.2em 0.5em 1em 0.5em;
                font-size: 1em;
                font-weight: 700;
                letter-spacing: 0.025em;
            }
            #nav > ul > li > a.active:after{
                border-bottom-width: 0.5em;
            }
            #nav > ul > li > a:after {
                content: '';
				display: block;
				position: absolute;
				left: 50%;
				bottom: 0em;
				margin-left: -0.5em;
				border-bottom: solid 0em #4acbd6;
				border-left: solid 0.5em transparent;
				border-right: solid 0.5em transparent;
				-moz-transition: 0.5em .25s ease-in-out;
				-webkit-transition: 0.5em .25s ease-in-out;
				-ms-transition: 0.5em .25s ease-in-out;
				transition: 0.5em .25s ease-in-out;
            }

            #nav > ul > li:hover a {
                color: #4acbd6;
            }

            #nav > ul > li > ul {
                display: none;
            }
*/
.mkt-header {
    padding: 0.5em 0;
    background-color: #4a4b4b;
    text-align: center;
}
.p-1 {
    letter-spacing: 0.025em;
    border: 0;
    color: rgba(255,255,255,0.7);
    font-size: 0.875em;
    text-decoration: none;
}
.p-1:hover {
    color:rgba(255,255,255,0.4);
    cursor: pointer;
} 
.mkt-subnavbar {
    position: relative;
    z-index: 1020;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05), inset 0 -1px 0 rgba(0,0,0,0.15);
}
.navbar-custom .navbar-nav .nav-link {
    color:black;
    font-weight: 700;
    letter-spacing: 0.025em;
    padding-left: 1em;
    padding-right: 1em;
}
.navbar-custom .nav-item:hover .nav-link {
    color: #4acbd6;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #4acbd6;
}
.dropdown-item:hover {
    color: #4acbd6;
}

@media (min-width: 768px) {
    .mkt-subnavbar {
        position: sticky;
        top: 0;
    }
}

@media (min-width: 768px) {
    .container-custom {
        margin-top: 1.5rem!important;
    }
}
.container-custom {
    margin-top: 1rem;
}