.mkt-header {
    padding: 0.5em 0;
    background-color: #4a4b4b;
}
.p-1 {
    letter-spacing: 0.025em;
    border: 0;
    color: rgba(255,255,255,0.7);
    font-size: 0.875em;
    text-decoration: none;
}
.p-1:hover {
    color:rgba(255,255,255,0.4);
    cursor: pointer;
} 
.mkt-subnavbar {
    position: relative;
    z-index: 1020;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05), inset 0 -1px 0 rgba(0,0,0,0.15);
}
.navbar-custom .nav-pills .nav-link {
    color:black;
    font-weight: 700;
    letter-spacing: 0.025em;
    padding-left: 1em;
    padding-right: 1em;
}
.navbar-custom .nav-item:hover .nav-link {
    color: #4acbd6;
}
.navbar-light .nav-pills .nav-link.active {
    color: white;
    background-color: #4acbd6;
}
.dropdown-item:hover {
    color: #4acbd6;
}
.dropdown-item:active, .dropdown-item.active {
    color: white;
    background-color: #4acbd6;
}
.container-custom {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem; /*set padding bottom to make distance between content and footer longer*/
}

@media (min-width: 768px) {
    .container-custom {
        margin-top: 1.5rem!important;
        margin-bottom: 4rem!important; /*set margin bottom to avoid footer hide content*/
    }
    .mkt-subnavbar {
        position: sticky;
        top: 0;
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 0.5em 2em 0 rgba(54,68,75,.18);
    }
}
.list-custom {
    max-width: 30rem;
}

.bg-custom{
    background-color: #4acbd6;
}
.mkt-footer {
    padding: 0.5em 0;
    background-color: #4a4b4b;
    color: rgba(255,255,255,0.7);
    font-size: 0.875em;
    letter-spacing: 0.025em;
}